@model UpdateUser

@{
    ViewBag.Title = "Details User";
}

<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div>
                    <form asp-action="UpdatePhotoUser" asp-area="Teacher" asp-controller="User"
                        asp-route-IdUser="@Model.Id" enctype="multipart/form-data">
                        <div class="d-flex justify-content-center mb-4">
                            @{
                                if (ViewBag.Base64_Avatar != null) {
                                    var base64_Avatar = ViewBag.Base64_Avatar;
                                    <img id="selectedAvatar"
                                        src="@base64_Avatar"
                                        class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;"
                                        alt="User Photo" />
                                }
                                else if (Model.ProfilePicture == null)
                                {
                                    <img id="selectedAvatar"
                                        src="https://scontent.fhan9-1.fna.fbcdn.net/v/t1.30497-1/453178253_471506465671661_2781666950760530985_n.png?stp=dst-png_s480x480&_nc_cat=1&ccb=1-7&_nc_sid=136b72&_nc_ohc=IpoMLKXNR8YQ7kNvgFIF0vL&_nc_ht=scontent.fhan9-1.fna&oh=00_AYAhatwpRz3HctTcKW10ln3LXF7u25ERk7NrbBsaNWhdfA&oe=66F78BFA"
                                        class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;"
                                        alt="User Photo" />
                                }
                                else
                                {
                                    <img id="selectedAvatar" image-bytes="@Model.ProfilePicture" class="rounded-circle"
                                        style="width: 200px; height: 200px; object-fit: cover;" alt="User Photo" />
                                }
                            }
                        </div>
                        <div class="d-flex justify-content-center mb-4">
                            <div data-mdb-ripple-init class="btn btn-primary btn-rounded">
                                <label class="form-label text-white m-1" for="file">Choose file</label>
                                <input type="file" name="file" class="form-control d-none" id="file"
                                    onchange="displaySelectedImage(event, 'selectedAvatar')" />
                            </div>
                            <div class="m-2 d-flex justify-content-center">
                                <button class="btn btn-warning" type="submit">Upload new image</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form asp-action="UpdateUser" asp-area="Teacher" asp-controller="User" method="post">
                        @* <div class="mb-3">
                            <label class="small mb-1" asp-for="FirstName">First Name</label>
                            <input asp-for="FirstName" class="form-control" placeholder="Your First Name"
                                value="@Model.FirstName">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div> *@
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="FullName">FullName</label>
                            <input asp-for="FullName" class="form-control" placeholder="Your Last Name"
                                value="@Model.FullName">
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <!-- Form Group (email)-->
                        @* <div class="mb-3">
                            <label class="small mb-1" asp-for="Email">Email</label>
                            <input asp-for="Email" class="form-control" placeholder="Enter your email"
                                value="@Model.Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="PhoneNumber">Phone Number</label>
                            <input asp-for="PhoneNumber" class="form-control" placeholder="Your Phone Number"
                                value="@Model.PhoneNumber">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div> *@
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Address">Address</label>
                            <input asp-for="Address" class="form-control" placeholder="Your Address"
                                value="@Model.Address">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <!-- Save changes button-->
                        <input hidden class="hidden" asp-for="Id" value="@Model.Id">
                        <input id="base64_Avatar" hidden class="hidden" name="base64_Avatar">
                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </form>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">Thay Đổi Mật Khẩu</div>
                <div class="card-body">
                    <form id="changePasswordForm">
                        <div class="mb-3">
                            <label class="small mb-1" for="oldPassword">Mật Khẩu Hiện Tại</label>
                            <input class="form-control" id="oldPassword" type="password"
                                placeholder="Enter your current password">
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="newPassword">Mật Khẩu Mới</label>
                            <input class="form-control" id="newPassword" type="password"
                                placeholder="Enter your new password">
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="confirmPassword">Nhập Lại Mật Khẩu Mới</label>
                            <input class="form-control" id="confirmPassword" type="password"
                                placeholder="Confirm your new password">
                        </div>
                        <input hidden class="hidden" id="id" value="@Model.Id">
                        <button class="btn btn-primary" type="button" onclick="changePassword()">Change
                            Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function changePassword() {
            var oldPassword = document.getElementById("oldPassword").value;
            var newPassword = document.getElementById("newPassword").value;
            var confirmPassword = document.getElementById("confirmPassword").value;
            var id = document.getElementById("id").value;

            if (newPassword != confirmPassword) {
                alert("Mật khẩu mới không trùng khớp");
                return;
            }

            $.ajax({
                url: '/api/SinhVien/updatepassword',
                type: "POST",
                headers: {
                    'Accept': '*/*',
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify({
                    idUser: id,
                    oldPassword: oldPassword,
                    newPassword: newPassword,
                    confirmPassword: confirmPassword
                }),
                success: function (response) {
                    alert("Thay đổi mật khẩu thành công");
                },
                error: function (response) {
                    alert("Thay đổi mật khẩu thất bại");
                    console.log(response.status, response.text);
                }
            });
        }
    function displaySelectedImage(event, elementId) {
        const selectedImage = document.getElementById(elementId);
        const fileInput = event.target;

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                selectedImage.src = e.target.result;
            };

            reader.readAsDataURL(fileInput.files[0]);
        }
    }
    document.addEventListener("DOMContentLoaded", function () {
        var base64_Avatar = document.getElementById("selectedAvatar").getAttribute("src");
        document.getElementById("base64_Avatar").value = base64_Avatar;
    });

</script>