@model SinhVien

@{
    ViewBag.Title = "Chi tiết sinh viên";
}

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center">
                        <img id="avt_user" class="img-responsive" src="data:image/png;base64,AA==" width="280"
                            height="320" alt="Không Tìm Thấy Ảnh">
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h2 class="box-title mt-5">Thông Tin</h2>
                    <hr class="sidebar-divider">
                    <ul class="list-unstyled">
                        <li>
                            <h5>Họ Tên: @Model.HoTen</h5>
                        </li>
                        <li>
                            <h5>Lớp: @Model.Lop</h5>
                        </li>
                        <li>
                            <h5>Ngày Sinh: @(@Model.NgaySinh.HasValue ? @Model.NgaySinh.Value.ToString("dd/MM/yyyy") :
                                "N/A")</h5>
                        </li>
                        <li>
                            <h5>Địa Chỉ: @Model.DiaChi</h5>
                        </li>
                        <li>
                            <h5>Chương Trình Học: @Model.ChuongTrinhHocs.TenChuongTrinhHoc</h5>
                        </li>
                        <li>
                            <h5>Khoa: @Model.Khoas.TenKhoa</h5>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <a class="btn btn-primary" asp-action="Edit" asp-route-idSinhVien="@Model.IdSinhVien"
                                asp-area="Admin" asp-controller="QuanLySinhVien">Sửa</a>
                        </div>
                    </div>
                </div>

                <hr class="sidebar-divider m-4">

                <!-- Lịch Học Của Sinh Viên -->
                <div class="container-fluid">
                    <div id='calendar'></div>
                </div>

                <hr class="sidebar-divider m-4">

                <!-- Danh sách điểm của sinh viên -->
                <div class="container-fluid">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Bảng dữ liệu điểm của sinh viên: @Model.HoTen
                            </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable_diem" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Môn</th>
                                            <th>Điểm Quá Trình</th>
                                            <th>Điểm Kết Thúc</th>
                                            <th>Điểm Tổng Kết</th>
                                            <th>Lần Học</th>
                                            <th>Trạng Thái</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Môn</th>
                                            <th>Điểm Quá Trình</th>
                                            <th>Điểm Kết Thúc</th>
                                            <th>Điểm Tổng Kết</th>
                                            <th>Lần Học</th>
                                            <th>Trạng Thái</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    <!-- Data table -->
    <link href="~/sb-admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- Calendar -->
    <link rel='stylesheet' href='~/lib/fullcalendar-6.1.15/css/v_calendar.css' />
}

@section Scripts {
    <!-- Calendar -->
    <script src='~/lib/fullcalendar-6.1.15/dist/index.global.min.js'></script>

    <!-- Data table -->
    <script src="~/sb-admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/sb-admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            // Xử lý lịch học của sinh viên
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                displayEventTime: false,
                initialView: 'dayGridMonth', // 'dayGridWeek', 'timeGridDay', 'listWeek'
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                buttonText: {
                    today: 'Hôm nay',
                    month: 'Tháng',
                    week: 'Tuần',
                    day: 'Ngày',
                    list: 'Danh sách',
                },
                locale: 'vi',
                timeZone: 'Asia/Ho_Chi_Minh',
                titleFormat: {},
                events: function (fetchInfo, successCallback, failureCallback) {
                    $.ajax({
                        url: '/api/calendar/sinhvien/@Model.IdSinhVien',
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            var events = data.map(function (item) {
                                return {
                                    id: item.id,
                                    groupId: item.groupId,
                                    title: item.title,
                                    description: item.description,
                                    start: item.start,
                                    end: item.end,
                                };
                            });
                            successCallback(events);
                        },
                        error: function () {
                            failureCallback();
                        }
                    });
                }
            });
            calendar.render();
            window.calendar = calendar;

            // Xử lý bảng điểm của sinh viên
            $('#dataTable_diem').DataTable({
                ajax: {
                    url: '/api/diem/@Model.IdSinhVien/sinhvien',
                    type: 'GET',
                    dataSrc: '',
                },
                language: {
                    url: '/sb-admin/json/data_tables_vi.json',
                },
                columns: [
                    { data: "tenMonHoc" },
                    { data: "diemQuaTrinh" },
                    { data: "diemKetThuc" },
                    { data: "diemTongKet" },
                    { data: "lanHoc" },
                    { data: "trangThai" }
                ],
            });
        });
    </script>
}