@model GiaoVien

@{
    ViewBag.Title = "Chi tiết giáo viên";
}

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center">
                        <img id="avt_user" class="img-responsive" src="data:image/png;base64,AA==" width="280"
                            height="320" alt="Không Tìm Thấy Ảnh">
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h2 class="box-title mt-5">Thông Tin</h2>
                    <hr class="sidebar-divider">
                    <ul class="list-unstyled">
                        <li>
                            <h5>Họ Tên: @Model.TenGiaoVien</h5>
                        </li>
                        <li>
                            <h5>Khoa: @Model.Khoas.TenKhoa</h5>
                        </li>
                        <li>
                            <h5>Email: @Model.Email</h5>
                        </li>
                        <li>
                            <h5>Số Điện Thoại: @Model.SoDienThoai</h5>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <a class="btn btn-primary" asp-action="Edit" asp-route-idGiaoVien="@Model.IdGiaoVien"
                                asp-area="Admin" asp-controller="QuanLyGiaoVien">Sửa</a>
                        </div>
                    </div>
                </div>

                <hr class="sidebar-divider">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3 class="box-title mt-5">Danh Sách Các Lớp Học Phần Dạy</h3>
                    <div class="table-responsive">
                        <div class="container-fluid">
                            <!-- DataTales LopHocPhan -->
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Lớp Học Phần</th>
                                                    <th>Giảng Viên</th>
                                                    <th>Môn học</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Lớp Học Phần</th>
                                                    <th>Giảng Viên</th>
                                                    <th>Môn học</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="sidebar-divider">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3 class="box-title mt-5">Lịch Dạy</h3>
                    <div class="table-responsive" id="calendar">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    <!-- Data table -->
    <link href="~/sb-admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- Calendar -->
    <link rel='stylesheet' href='~/lib/fullcalendar-6.1.15/css/v_calendar.css' />
}

@section Scripts {
    <!-- Calendar -->
    <script src='~/lib/fullcalendar-6.1.15/dist/index.global.min.js'></script>

    <!-- Data table -->
    <script src="~/sb-admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/sb-admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            // DataTables events
            $('#dataTable_MonHoc').DataTable(
                {
                    ajax: {
                        url: '/api/lophocphan/giaovien/@Model.IdGiaoVien',
                        type: 'GET',
                        dataSrc: '',
                    },
                    columns: [
                        {
                            data: 'tenLopHocPhan',
                            render: function (data, type, row) {
                                return '<a href="/Admin/QuanLyLopHocPhan/Details?IdGiaoVien=' + row.idLopHocPhan + '">' + data + '</a>';
                            }
                        },
                        {
                            data: 'tenGiaoVien',
                            render: function (data, type, row) {
                                return '<a href="/Admin/QuanLyGiaoVien/Details?IdGiaoVien=' + row.idGiaoVien + '">' + data + '</a>';
                            }
                        },
                        {
                            data: 'monHoc',
                            render: function (data, type, row) {
                                return '<a href="/Admin/QuanLyMonHoc/Details?IdMonHoc=' + row.idMonHoc + '">' + data + '</a>';
                            }
                        },
                    ],
                    language: {
                        url: '/sb-admin/json/data_tables_vi.json',
                    },
                }
            );

            // Avatar events
            $.ajax({
                url: '/api/avatar/user/@Model.IdGiaoVien',
                async: false,
                success: function (data) {
                    const src = 'data:image/png;base64,' + data.replace(/^"|"$/g, '');
                    $('#avt_user').attr('src', src);
                },
                error: function (xhr, status, error) {
                    return null;
                }
            });

            // Calendar events
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                displayEventTime: false,
                initialView: 'dayGridMonth', // 'dayGridWeek', 'timeGridDay', 'listWeek'
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                buttonText: {
                    today: 'Hôm nay',
                    month: 'Tháng',
                    week: 'Tuần',
                    day: 'Ngày',
                    list: 'Danh sách',
                },
                locale: 'vi',
                timeZone: 'Asia/Ho_Chi_Minh',
                titleFormat: {},
                events: function (fetchInfo, successCallback, failureCallback) {
                    $.ajax({
                        url: '/api/calendar/giaovien/@Model.IdGiaoVien',
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            var events = data.map(function (item) {
                                return {
                                    id: item.id,
                                    groupId: item.groupId,
                                    title: item.title,
                                    description: item.description,
                                    start: item.start,
                                    end: item.end,
                                };
                            });
                            successCallback(events);
                        },
                        error: function () {
                            failureCallback();
                        }
                    });
                }
            });
            calendar.render();
            window.calendar = calendar;
        });
    </script>
}