@model GiaoVien

@{
    ViewBag.Title = "Details User";
}

@section Scripts {
    <script>
        // Xu li chon anh roi hien thi anh ra sau khi chon tu file
        function displaySelectedImage(event, elementId) {
            const selectedImage = document.getElementById(elementId);
            const fileInput = event.target;

            if (fileInput.files && fileInput.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    selectedImage.src = e.target.result;
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        }
        document.addEventListener("DOMContentLoaded", function () {
            var base64_Avatar = document.getElementById("selectedAvatar").getAttribute("src");
            if (base64_Avatar != null) {
                document.getElementById("selectedAvatar").src = base64_Avatar;
            }
        });

        // Xu li thay doi mat khau
        function changePassword() {
            var newPassword = document.getElementById("newPassword").value;
            var confirmPassword = document.getElementById("confirmPassword").value;
            var idGiaoVien = document.getElementById("idGiaoVien").value;

            if (newPassword != confirmPassword) {
                alert("Mật khẩu mới không trùng khớp");
                return;
            }

            $.ajax({
                url: '/api/GiaoVien/adminupdatepassword',
                type: "POST",
                headers: {
                    'Accept': '*/*',
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify({
                    idUser: idGiaoVien,
                    newPassword: newPassword,
                    confirmPassword: confirmPassword
                }),
                success: function (response) {
                    alert("Thay đổi mật khẩu thành công");
                },
                error: function (response) {
                    alert("Thay đổi mật khẩu thất bại");
                    console.log(response.status, response.text);
                }
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            // Xu li lay anh tu sever va hien thi ra view
            $.ajax({
                url: '/api/avatar/user/@Model.IdGiaoVien',
                type: "GET",
                success: function (data) {
                    if (data.profilePictureBase64 != null) {
                        const src = 'data:image/png;base64,' + data;
                        $('#selectedAvatar').attr('src', src);
                    } else {
                        $('#selectedAvatar').attr('src', '/sb-admin/img/undraw_profile.svg');
                    }
                }
            });

            // Xu li lay danh sach khoa tu sever va hien thi ra view
            $.ajax({
                url: '/api/khoa',
                type: "GET",
                success: function (response) {
                    if (response != null) {
                        response.forEach(function (khoa) {
                            var option = document.createElement("option");
                            option.text = khoa.tenKhoa;
                            option.value = khoa.idKhoa;
                            if (khoa.idKhoa == "@Model.IdKhoa") {
                                option.selected = true;
                            }
                            document.querySelector("select[name='IdKhoa']").appendChild(option);
                        });

                    }
                }
            });

            // Get LopHocPhan cua GiaoVien de xem co duoc thay doi khoa khong
            $.ajax({
                url: '/api/LopHocPhan/giaovien/@Model.IdGiaoVien',
                type: 'GET',
                success: function (res) {
                    if (res.length) {
                        document.querySelector("select[name='IdKhoa']").disabled = true;
                        console.log("Khoa Khong The Thay Thoi Khi Dang Day Lop Hoc Phan");

                    }
                }
            });

        });
    </script>
}

<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div>
                    <form asp-action="UpgraeAvatar" asp-area="Admin" asp-controller="QuanLyGiaoVien"
                        asp-route-IdGiaoVien="@Model.IdGiaoVien" method="post" enctype="multipart/form-data">
                        <div class="d-flex justify-content-center mb-4">
                            <img class="img-fluid rounded-circle" id="selectedAvatar" src="" alt="..."
                                style="width: 200px; height: 200px;">
                        </div>
                        <div class="d-flex justify-content-center mb-4">
                            <div data-mdb-ripple-init class="btn btn-primary btn-rounded">
                                <label class="form-label text-white m-1" for="file">Choose file</label>
                                <input type="file" name="file" class="form-control d-none" id="file"
                                    onchange="displaySelectedImage(event, 'selectedAvatar')" />
                            </div>
                            <div class="m-2 d-flex justify-content-center">
                                <button class="btn btn-warning" type="submit">Upload new image</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form asp-action="Edit" asp-area="Admin" asp-controller="QuanLyGiaoVien" method="post">
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="TenGiaoVien">Họ Và Tên</label>
                            <input asp-for="TenGiaoVien" class="form-control" placeholder="Tên Giáo Viên"
                                value="@Model.TenGiaoVien">
                            <span asp-validation-for="TenGiaoVien" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Email">Email</label>
                            <input asp-for="Email" class="form-control" placeholder="Địa Chỉ Email"
                                value="@Model.Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="SoDienThoai">Số Điện Thoại</label>
                            <input asp-for="SoDienThoai" class="form-control" placeholder="Số Điện Thoại Giáo Viên"
                                value="@Model.SoDienThoai">
                            <span asp-validation-for="SoDienThoai" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <!-- select khoa -->
                            <label class="small mb-1" asp-for="IdKhoa">Khoa</label>
                            <select asp-for="IdKhoa" class="form-control">
                                <option value="">-- Chọn Khoa --</option>
                            </select>
                            <span asp-validation-for="IdKhoa" class="text-danger"></span>
                        </div>
                        <!-- Save changes button-->
                        <input hidden class="hidden" asp-for="IdGiaoVien" value="@Model.IdGiaoVien">
                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </form>
                </div>
            </div>
            <!-- Thay doi mat khau bang ajax -->
            <div class="card mb-4">
                <div class="card-header">Thay Đổi Mật Khẩu</div>
                <div class="card-body">
                    <form id="changePasswordForm">
                        @* <div class="mb-3">
                            <label class="small mb-1" for="oldPassword">Mật Khẩu Hiện Tại</label>
                            <input class="form-control" id="oldPassword" type="password"
                                placeholder="Enter your current password">
                        </div> *@
                        <div class="mb-3">
                            <label class="small mb-1" for="newPassword">Mật Khẩu Mới</label>
                            <input class="form-control" id="newPassword" type="password"
                                placeholder="Enter your new password">
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="confirmPassword">Nhập Lại Mật Khẩu Mới</label>
                            <input class="form-control" id="confirmPassword" type="password"
                                placeholder="Confirm your new password">
                        </div>
                        <input hidden class="hidden" id="idGiaoVien" value="@Model.IdGiaoVien">
                        <button class="btn btn-primary" type="button" onclick="changePassword()">Change
                            Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>